.btn {
  &-primary {
    background-color: $bg-gray-300;
    padding: 1.5rem;
    border: none;
    border-radius: 3rem;
    width: 13rem;
    transition: cubic-bezier(0.4, 0, 0.2, 1) all 300ms;
    &:hover {
      background-color: $bg-gray-400;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
      transform: translateY(-1px);
    }
  }
  &-secondary {
    background-color: white;
    padding: 1.5rem;
    border: 2px solid $bg-gray-300;
    border-radius: 3rem;
    width: 13rem;
  }
}
