.top {
  margin: 5rem 0 1rem 0;
  .content {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    .title {
      display: flex;
      flex-direction: column;
      .main {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .priceBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      transition: background-color 0.1s ease-in;
      &:hover {
        cursor: pointer;
        background-color: $bg-gray-200;
      }
      &:active {
        background-color: $bg-gray-300;
      }
      .price {
        font-size: 2rem;
        font-weight: bold;
      }
      .triangle {
        margin: 0.5rem 0 0 1rem;
      }
    }
  }
}

.preview {
  background-color: $bg-gray-300;
}

.carousel {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.showcase {
  width: 90%;
  display: flex;
  overflow: hidden;
}

.esteira {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
  margin-left: calc(50% - 28rem);
}

.frame {
  object-fit: contain;
  position: relative;
  margin: 0 2rem;
  transition: all 0.3s ease-in;
  width: 30rem;
  height: 20rem;
  border-radius: 2rem;
  overflow: hidden;

  &-selected {
    width: 50rem;
    height: 30rem;
  }
}

.actionCard {
  margin: 2rem 3rem;
  .separator {
    width: 100%;
    border-top: solid 1px black;
    margin: 2rem 0;
  }
  table {
    width: 100%;
    .tdRight {
      float: right;
    }
    .tdTotal {
      float: right;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.bottom {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  .content {
    width: 70vw;
    margin: 0 auto;

    .details {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 1rem;
      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        background-color: $bg-gray-200;
        width: 8rem;
        height: 8rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .top {
    .content {
      flex-direction: column;
      align-items: flex-start;
      .priceBtn {
        padding: 0;
        margin-top: 1rem;
      }
    }
  }
  .frame {
    &-selected {
      width: 30rem;
      height: 20rem;
    }
  }

  .esteira {
    margin-left: calc(50% - 17rem);
  }
}
