.preview {
  background-color: $bg-gray-300;
}

.carousel {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.showcase {
  width: 90%;
  display: flex;
  overflow: hidden;
}

.teste {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}

.frame {
  object-fit: contain;
  position: relative;
  // margin: 0 2rem;
  transition: all 0.3s ease-in;
  width: 33rem;
  height: 19rem;

  &-selected {
    width: 58rem;
    height: 33rem;
  }
}
