.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: $bg-gray-400;
}

.nav-menu {
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  margin-left: 2rem;
}

.menu-list li a {
  color: black;
  text-decoration: none;
}
